# OS files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
*.env

# VSCode
.vscode/

# macOS
.AppleDouble
.LSOverride

# IDEs and editors
.idea/
*.sublime-workspace
*.sublime-project

# Build output
dist/
build/
*.egg-info/

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints/

# dotenv environment files
.env
.env.*
